
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#appName {
    background-color: #d4d5d6;
    padding: 20px;
    padding-left: 50px;
}

h2 {
    margin-left:15px;
}

.time {
    width: 25px;
    padding-left: 3px;
}

.time-container {
    margin-left:10px;
    max-width:100px;
    margin-top:5px;
}

.date-container {
    margin-top:5px;
}

.empty-space-no-preview {
    margin-top:115px;
}

.preview-image {
    height: 100px;
    margin-bottom:15px;
}

#tasks-list {
    list-style-type:none;
}

.blue-container {
    background-color:#e0f1f9;
    margin:5px;
    margin-bottom:15px;
    border-radius:10px;
    padding:10px;
}

.task-buttons {
    margin-top:10px;
    margin-bottom:6px;
}

.btn {
    max-height:29px;
}

.datepicker {
    margin-bottom:10px;
}
